<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Northstreet Restaurant">
    <meta name="author" content="A.K.">

    <title>Restaurant Northstreet</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Passion+One" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet"> 

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    
    <link rel="stylesheet" href="css/style.css" type="text/css">
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="myPage"  data-spy="scroll" data-target=".navbar" data-offset="60">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Restaurant Northstreet</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about">About</a></li>
                    <li><a href="#menu">Menu</a></li>
                    <li><a href="#service">Service</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Welcome to Northstreet restaurant</h1>
                
                <h3>We are proud of our long history of making delicious meals, warm and 
                friendly atmosphere and professional staff.</h3>
            </div>
        </div>
    </header>

    <section class="bg-about bg-section" id="about">
        <div class="container-fluid">
            <div class="row slideanim">
                <div class="restaurant-history">
                    <h2 class="section-heading">Restaurant Northstreet</h2>
                    <p class="about-history">The modern idea of a restaurant – as well as the term itself – appeared in Paris in the 18th century. For centuries Paris had taverns which served food at large common tables, but they were notoriously crowded, noisy, not very clean, and served food of dubious quality. In about 1765 a new kind of eating establishment, called a "Bouillon", was opened on rue des Poulies, near the Louvre, by a man named Boulanger.</p>

                    <button type="button" class="btn more" id="more" data-toggle="collapse" data-target="#demo">More</button>
                    <div id="demo" class="collapse">  
                        <p class="about-history">It had separate tables, a menu, and specialized in soups made with a base of meat and eggs, which were said to be restaurants or, in English "restoratives". Other similar bouillons soon opened around Paris. Thanks to Boulanger and his imitators, these soups moved from the category of remedy into the category of health food and ultimately into the category of ordinary food. Their existence was predicated on health, not gustatory, requirements.</p>
                    </div>
                </div>
            </div>
    
            <div class="row about-welcome">
                <div class="col-md-4 col-sm-4">
                    <div class="img-about">
                        <img src="img/about/warm_welcome.jpg" class="img-responsive img-left" alt="about-restaurant">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="des-about">
                        <h3>Welcome atmosphere</h3>
                        <hr class="hr-about">
                        <p class="about">Michelin reviewers (commonly called "inspectors") are completely anonymous. They do not identify themselves, and their meals and expenses are paid for by the company founded by the Michelin brothers, never by a restaurant being reviewed.<br>
                        The Michelin Guide also awards Rising Stars, an indication that a restaurant has the potential to qualify for a star, or an additional star.
                        </p>
                    </div>
                </div>
                
            </div>
        
            <div class="row about-welcome">
                <div class="col-md-8 col-sm-8">
                    <div class="des-about">
                        <h3>Delicious meals</h3>
                        <hr class="hr-about">
                        <p class="about">European cuisine (alternatively, "Western cuisine") include the cuisines of Europe and other Western countries.
                        <br> 
                        European cuisine includes that of Europe and to some extent Russia, as well as non-indigenous cuisines of North America, Australasia, Oceania, and Latin America. The term is used by East Asians to contrast with Asian styles of cooking.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="img-about pu">
                        <img src="img/about/delicious_meals.jpg" class="img-responsive img-right" alt="about-restaurant">
                    </div>
                </div>
            </div>
            
            <div class="row about-welcome">
                <div class="col-md-4 col-sm-4">
                    <div class="img-about">
                        <img src="img/about/professional_staff.jpg" class="img-responsive img-left" alt="about-restaurant">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8">
                    <div class="des-about">
                        <h3>Professional staff</h3>
                        <hr class="hr-about">
                        <p class="about">Professional cooks are called chefs, with there being various finer distinctions (e.g. sous-chef, chef de partie).
                        <br>
                        Most restaurant (other than fast food restaurants and cafeterias) will have various waiting staff to serve food, beverages and alcoholic drinks, including busboys who remove used dishes and cutlery</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-menu bg-section" id="menu">
        <div class="container-fluid">
            <h2>Our Menu</h2>
            <div class="row slideanim">
                <ul class="nav nav-pills pills">
                    <li class="active"><a data-toggle="pill" href="#brekfast">Breakfast</a></li>
                    <li><a data-toggle="pill" href="#lunch">Lunch</a></li>
                    <li><a data-toggle="pill" href="#dinner">Dinner</a></li>
                    <li><a data-toggle="pill" href="#desert">Dessert</a></li>
                    <li><a data-toggle="pill" href="#salads">Salads</a></li>
                    <li><a data-toggle="pill" href="#drinks">Drinks</a></li>
                </ul>
                  
                <hr class="hr-menu">

                <div class="tab-content">
                    <div id="brekfast" class="tab-pane fade in active">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Breakfast</h3>
                                <img src="img/menu/breakfast.jpg" class="menu-img img-responsive" alt="breakfast-img">
                            </div>
                        </div>
                        </div>
                             
                    </div>
                    <div id="lunch" class="tab-pane fade">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Lunch</h3>
                                <img src="img/menu/lunch.jpg" class="menu-img img-responsive" alt="brekfast-img">
                            </div>
                        </div>
                        </div>  
                    </div>
                    <div id="dinner" class="tab-pane fade">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Dinner</h3>
                                <img src="img/menu/dinner.jpg" class="menu-img img-responsive" alt="brekfast-img">
                            </div>    
                        </div>
                        </div>
                    </div>
                    <div id="desert" class="tab-pane fade">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Dessert</h3>
                                <img src="img/menu/dessert.jpg" class="menu-img img-responsive" alt="brekfast-img">
                            </div>
                        </div>
                        </div>
                    </div>
                    <div id="salads" class="tab-pane fade">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Salads</h3>
                                <img src="img/menu/salads.jpg" class="menu-img img-responsive" alt="brekfast-img">
                            </div>    
                        </div>
                        </div>
                    </div>
                    <div id="drinks" class="tab-pane fade">
                        <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <ul class="list-group">
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Spanish tortilla<span class="badge pull-right">5.90 €</span></h4>
                                  <p class="list-group-item-text">potatoes, onion, olive oil, free-range eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Quick fish cakes<span class="badge pull-right">6.80 €</span></h4>
                                  <p class="list-group-item-text">skinless cod, pollock fillets, Maris Piper, flour, olive oil, fresh green herbs, chives, mayonnaise, eggs</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Wild rice salad<span class="badge pull-right">5.20 €</span></h4>
                                  <p class="list-group-item-text">mixed rice, wild and long-grain, mixed nuts, fresh basil, fresh mint, dried apricots, extra virgin olive oil
                                  </p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Chicken milanese with spaghetti<span class="badge pull-right">8.70 €</span></h4>
                                  <p class="list-group-item-text">cloves of garlic, fresh basil, olive oil, plum tomatoes, skinless free-range chicken breasts, plain flour, free-range eggs, breadcrumbs, Parmesan cheese, dried spaghetti</p>
                                </li>
                                <li class="list-group-item">
                                  <h4 class="list-group-item-heading">Mango lassi<span class="badge pull-right">3.10 €</span></h4>
                                  <p class="list-group-item-text">green cardamom pods , optional, ripe mangos, low-fat natural yoghurt, ice cubes, runny honey
                                  </p>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-sm-5">
                            <div class="right-cover">
                                <h3>Drink</h3>
                                <img src="img/menu/drink.jpg" class="menu-img img-responsive" alt="brekfast-img">
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
                                
            </div>
            
        </div>
        
    </section>

    

    <section class="bg-service bg-section" id="service">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-12 col-sm-12 text-center">
                    <h2 class="section-heading">Our Service</h2>
                </div>
            </div>
            <div class="row service-round-3 slideanim">
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="service-round b-party">
                        <i class="fa fa-4x fa fa-birthday-cake sr-icons"></i>
                    </div>
                    <h4>Birthday party</h4>
                    <p>For more information please contact us.</p>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="service-round wedding">
                        <i class="fa fa-4x fa fa-heart sr-icons"></i>
                    </div>    
                    <h4>Wedding</h4>
                    <p>For more information please contact us</p>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="service-round b-dinner">
                        <i class="fa fa-4x fa fa-suitcase  sr-icons"></i>
                    </div>
                    <h4>Business dinner</h4>
                    <p>For more information please contact us.</p>
                </div>
            </div>
            <a href="#about" class="btn" data-toggle="modal" data-target="#myModal">Contact us</a>
        </div>

    </section>




    <section id="gallery" class="bg-gallery no-padding">
        <div class="container-fluid">
            <h3>Gallery</h3>
            <hr class="hr-h3s">
            <div class="row no-gutter gallery slideanim"> 
                
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s1.jpg" class="img-responsive" alt="">     
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s3.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s4.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s5.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-md-4 col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/gallery/small/s6.jpg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
            <div class="more-img">
                <div class="container-fluid">
                        <div class="to-gallery">
                            <h4>For more pictures visit us on</h4>
                            <div class="social-networks">
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                </div>
            </div>

        </div>
    </section>

    <section class="bg-staff" id="staff">
        <div class="container-fluid">
            <h3>Our staff</h3>
            <hr class="hr-h3s"> 
                <div class="row text-center slideanim thumbnail-row">
                    <div class="col-md-3 col-sm-3">
                        <div class="thumbnail">
                            <img src="img/staff/manager.jpg" class="" alt="shef-img" height="300" width="400">
                            <h5 class="img-staff">John Johnson</h5>
                            <h6>Manager</h6>    
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-3">  
                        <div class="thumbnail">
                            <img src="img/staff/chef1.jpg" class="" alt="shef-img" height="300" width="400">
                            <h5 class="img-staff">Anna Schmidt</h5>
                            <h6>Chef</h6>         
                        </div>
                    </div>  
                    <div class="col-md-3 col-sm-3">  
                        <div class="thumbnail">
                            <img src="img/staff/chef2.jpg" class="" alt="shef-img" height="300" width="400">
                            <h5 class="img-staff">Ivan Gonzales</h5>
                            <h6>Chef</h6>
                        </div>
                    </div>
                      <div class="col-md-3 col-sm-3">  
                        <div class="thumbnail">
                            <img src="img/staff/chef3.jpg" class="" alt="shef-img" height="300" width="400">
                            <h5 class="img-staff-p">Joseph Martinez</h5>
                            <h6>Chef</h6>
                        </div>
                    </div>
                </div>
        </div>
    </section>

    <section class="bg-testimonials" id="testimonials">
        <div class="container-fluid">
            <div class="row slideanim">
            <h3>What people say about us</h3>
                <hr class="hr-testimonials">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                      <div class="item active">
                            <h4>The atmosphere in restaurant is friendly, and the
                            dishes are delicious.</h4>
                            <h5>Mark Gross</h5>
                      </div>

                      <div class="item">
                            <h4>Delicious meals, warm welcome, excellent service.</h4>
                            <h5>Nina Hansen</h5>
                      </div>
                    
                      <div class="item">
                            <h4>Definitely my favourite restaurant, friendly, clean, 
                            delicious meals.</h4>
                            <h5>Maria Fernandez</h5>
                      </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                </div>

                
            </div>
        </div>       
    </section>


    <section class="bg-contact bg-section" id="contact">
        <div class="container-fluid">
            <h2>Contact us</h2>
            <div class="row slideanim">
                <div class="col-md-6 col-sm-6 contact-left">
                    <div class="left-box">
                        <address class="contact">
                            <span class="span-contact">Call:</span>
                            <br>
                            +091 1234 5678
                            <br> 
                            <span class="span-contact">Email:</span> 
                            <br>
                            northstreet@gmail.com
                            <br>
                            <span class="span-contact">Visit:</span>  
                            <br>
                            22, Northstreet Road
                            <br>
                            Melbourne, Victoria
                            <br>
                            Australia
                        </address>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 contact-right" >
                    <div ng-app="formApp">
                        <div ng-controller="formController">
                            <form novalidate>
                                 <div class="form-group has-feedback">
                                    <label class="sr-only " for="pwd">First name:</label>
                                    <input type="text" ng-model="user.name" class="form-control" id="pwd" placeholder="First name"z>
                                </div>
                                 <div class="form-group has-feedback">
                                    <label class="sr-only" for="pwd">Last name:</label>
                                    <input type="text" ng-model="user.surname" class="form-control" id="pwd" placeholder="Last name">
                                </div>
                                <div class="form-group has-feedback">
                                    <label class="sr-only" for="pwd">Email:</label>
                                    <input type="email" ng-model="user.email" class="form-control" id="pwd" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="comment">Comment:</label>
                                    <textarea ng-model="user.comment" class="form-control" rows="5" id="comment" placeholder="Description"></textarea>
                                </div>
                                <div class="contact-buttons pull-left">
                                    <input type="submit" ng-click="update(user)" value="Save" />
                                    <input type="submit" ng-click="reset()" value="Reset" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="googleMap" style="height:300px;width:100%;"></div>

                <!-- Add Google Maps -->
                <script src="http://maps.googleapis.com/maps/api/js"></script>
                <script>
                var myCenter = new google.maps.LatLng(-37.817110, 144.959128);

                function initialize() {
                var mapProp = {
                  center:myCenter,
                  zoom:12,
                  scrollwheel:false,
                  draggable:false,
                  mapTypeId:google.maps.MapTypeId.ROADMAP
                  };

                var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

                var marker = new google.maps.Marker({
                  position:myCenter,
                  });

                marker.setMap(map);
                }

                google.maps.event.addDomListener(window, 'load', initialize);
                </script>
            </div>
        </div>    
    </section>

    <footer class="-bg-footer" id="footer">
        <div class="container-fluid">
            <div class="row footer-align">
                <div class="col-md-4 col-sm-4">
                    <h5>Northstreet</h5>
                    <div class="footer-items">
                        <p class="footer">
                            The EU-27 has an estimated 1.6m businesses involved in 'accommodation and food services', more than 75% of which are small and medium enterprises.
                        </p>
                        <ul class="social-networks">
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Our contact</h5>
                    <div class="footer-items">
                        <address>
                                22, Northstreet Road
                                <br>
                                Melbourne, Victoria
                                <br>
                                Australia
                                <br>
                                <i class="fa fa-phone address"></i> +091 1234 5678
                                <br>
                                <i class="fa fa-fax address"></i> +812 3456 7890
                                <br>
                                <i class="fa fa-envelope address"></i> <a href="mailto:northstreet@gmail.com">northstreet@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <h5>Open hours</h5>
                    <div class="footer-items">
                        <ul>
                            <li>Mon-Fri: 08:00-22:00</li>
                            <li>Sat    : 09:00-22:00</li>
                            <li>Sun    : 09:00-16:00</li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <a class="to-top" href="#myPage" title="toTop">
            <i class="fa fa-chevron-up"></i>
        </a>
    </footer>

    <div class="footer-copyright">
            <p>© 2016 Copyright Text </p>
    </div>


    <!-- Modal Service-->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>Our service</h4>
                    <p>Fill the form below</p>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group text-input">
                            <label class="sr-only " for="pwd">First name:</label>
                            <input type="text" class="form-control" id="pwd" placeholder="First name">
                          
                        </div>
                        <div class="form-group text-input">
                            <label class="sr-only" for="pwd">Last name:</label>
                            <input type="text" class="form-control" id="pwd" placeholder="Last name">
                            
                        </div>
                        <div class="form-group text-input">
                            <label class="sr-only" for="pwd">Email:</label>
                            <input type="text" class="form-control" id="pwd" placeholder="Email">
                      
                        </div>
                        <div class="form-group radio-buttons">
                            <h5>Service:</h5>
                            <li>
                                <input type="radio" id="f-option" name="selector">
                                <div class="check"></div>
                                <label for="f-option">Birthday party</label>
                                
                            </li>
                              
                            <li>
                                <input type="radio" id="s-option" name="selector">
                                <div class="check"><div class="inside"></div></div>
                                <label for="s-option">Wedding day</label>    
                            </li>
                              
                            <li>
                                <input type="radio" id="t-option" name="selector">
                                <div class="check"><div class="inside"></div></div>
                                <label for="t-option">Business dinner</label>
                            </li>                        
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="comment">Comment:</label>
                            <textarea class="form-control" rows="5" id="comment" placeholder="Description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block" data-dismiss="modal">Send
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-danger btn-block" data-dismiss="modal">Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l1.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l2.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l3.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l4.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l5.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>  
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">    
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                             <div class="close-right">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                            <h3>Picture</h3>
                
                            <img src="img/gallery/large/l6.jpg" class="img-responsive" alt="">
                          
                            <ul class="list-inline text-center">
                                <li>
                                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    



    <!-- script website -->
    <script src="js/script.js"></script>

    <script>
      angular.module('formApp', [])
        .controller('formController', ['$scope', function($scope) {
          $scope.master = {};

          $scope.update = function(user) {
            $scope.master = angular.copy(user);
          };

          $scope.reset = function() {
            $scope.user = angular.copy($scope.master);
          };

          $scope.reset();
        }]);
    </script>  
    
</body>

</html>
